/*
 *这是单独为hello mui准备的个性化css，可以覆盖标准mui的css定义；
 * 在实际项目开发时，建议为App单独写一个css文件，从而实现项目的自定义皮肤功能；
 * 
 * */
.title-sub{
	float: left;
	margin: 15px;

}
.wrap{
	margin: 20px;
	border-radius: 15px;
	border-style: none;
	/* height: 700px; */
	background-color: #eef3fa;
	overflow: auto;
}
.mui-table-view-cell>.mui-slider-handle{
	background-color:#eef3fa;
	width: 100%;
	word-wrap: break-word;
}

.mui-icon-plus{
	display: block;
	margin: 10px;
	font-size: 37px;
	float: right;
}
li{
	background-color: #eef3fa;
	font-size: large;
}
.add_btn{
	float: right;
	margin: 10px;
	font-size: large;
}
.mui-content{
	clear: both;
}
.title{
	text-align: center;
	margin-bottom: 40px;
	margin-top: 40px;
}
.mui-plus header.mui-bar{
	display: none;
}
.mui-plus .mui-bar-nav~.mui-content{
	padding: 0;
}

/*hm开头的表示仅为 Hello MUI示例定义*/
.hm-description{
	margin: .5em 0;
}

.hm-description>li {
	font-size: 14px;
	color: #8f8f94;
}
